<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Faz Contato! - Mockup 3D Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="https://imgur.com/VyXhQ3O.png" type="image/x-icon"/>
</head>
<body>
    {% block body %}
        <nav id="headercomp">
            <ul id="headerprincipal">
                <li id="logo_header" href='#'> <img src="https://i.imgur.com/t3YMYaE.png"> </li>
                <li id="produtos" href="#"> Produtos </li>
                <li id="servicos" href="#"> Serviços </li>
                <li id="estampa" href="#"> Monte Sua Estampa </li>
                <li id="contato" href="#"> Faz Contato! </li>
            </ul>
        </nav>
        <section id="chamada">
            <div id="chamadatextogrande">
                <p id="texto1">A  <span id="destaque"> MELHOR </span>   produção</p>
                <p>de camisetas do país.</p>
            </div>

            <div id="chamadatextopequeno">
                <p id="texto2"> Peça agora suas camisetas e vista </p>
                <p id="texto21">seu evento do seu jeito</p>
            </div>

            <a id="a-button"href="{% url 'cadastro' %}"><button type="submit" href= "{% url 'cadastro' %}" id="botao2" > Monte sua Estampa </button><a/>

        </section>
    </section>

    <section id="pag2">

    </section>
    {% endblock %}
</body>
</html>