{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="image/logo-icon.png" type="image/x-icon"/>
</head>
<body>
    {% block body %}
        <nav id="headercomp">
            <ul id="headerprincipal">
                <li id="logo_header" href='#'> </li>
                <li id="produtos" href="#"> Produtos </li>
                <li id="servicos" href="#"> Serviços </li>
                <li id="estampa" href="#"> Monte Sua Estampa </li>
                <li id="contato" href="#"> Faz Contato! </li>
            </ul>
        </nav>
        <section id="chamada">
            <div id="chamadatextogrande">
                <p id="texto1">A  <span id="destaque"> MELHOR </span>   produção</p>
                <p>de camisetas do país.</p>
            </div>

            <div id="chamadatextopequeno">
                <p id="texto2"> Peça agora suas camisetas e vista </p>
                <p id="texto21">seu evento do seu jeito</p>
            </div>
            
            <div id="botao">
                <input type="button" id="botao2" href="#" value="Monte sua Estampa">
            </div>
        </section>
    </section>

    <section id="pag2">
       
    </section>
    {% endblock %}
</body>
</html>